/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
/.env.backup
/.idea
/.vscode
/.phpunit.result.cache
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env.testing
.env.*.backup
/storage/app/*.sqlite
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/.env.local
